@tailwind base;
@tailwind components;
@tailwind utilities;

  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 1rem;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  nav a.active {
    font-weight: bold;
    color: deepskyblue;
  }

  .tab-center {
    padding-left: 45% !important
  }